{
    "extension": [
        ".ts"
    ],
    "exclude": [
        "**/*.d.ts",
        "**/*.test.js",
        "coverage",
        "dist",
        "test",
        "webpack.config.js"
    ],
    "reporter": [
        "html"
    ],
    "all": true,
    "cache": true
}