{
    "extends": "@istanbuljs/nyc-config-typescript",
    "exclude": [
        "**/*.d.ts",
        "**/*.test.js",
        "coverage",
        "dist",
        "test",
        ".vscode-test",
        "webpack.config.js"
    ],
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "all": true,
    "cache": false,
    "source-map": true
}