.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
**/jsconfig.json
**/*.map
**/.eslintrc.json
webpack.config.js
node_modules
tsconfig.json
data
extension
extension-web
types
webview
*.ipynb
.nyc_output
.test_output
.mocharc.json
.nycrc
.coveralls.yml
coverage
.github