* {
    user-select: none;
}

html, body {
    margin: 1em; padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

body > * {
    margin: 0px;
}

thead {
    margin-top: 3px;
}

th, td {
    text-align: center;
    padding: 3px;
}

td {
    background: var(--vscode-menu-background);
}

th {
    background: var(--vscode-activityBar-background);
}

#canvas {
    margin-top: 1em;
    flex-grow: 1;
    display: flex;
    position: relative;
    align-items: stretch;
}

canvas {
    image-rendering: pixelated;
    position: absolute;
}

#main {
    flex-grow: 1;
    position: relative;
}

#message {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    text-shadow: 2px 2px 0 #000,
                 2px -2px 0 #000,
                 -2px 2px 0 #000,
                 -2px -2px 0 #000,
                 2px 0px 0 #000,
                 0px 2px 0 #000,
                 -2px 0px 0 #000,
                 0px -2px 0 #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info > table {
    width: 100%;
}

#tools {
    user-select: none;
    z-index: 999;
    display: flex;
    flex-direction: column;
    width: 3em;
    margin-right: 0.3em;
}

#axes {
    margin-bottom: 5px;
}

#axes > div {
    text-align: center;
    padding: 7px;
    background: var(--vscode-menu-background);
}
#axes > div[data-selected] {
    background: var(--vscode-activityBar-background);
    font-weight: bold;
}

#slicer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: var(--vscode-menu-background);
    padding-bottom: 0.5em;
}

#slice {
    color: #FFF;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    background: var(--vscode-activityBar-background);
    margin-bottom: 0.5em;
}

#range {
    position: relative;
    flex-grow: 1;
}

#position {
    display: none;
    position: absolute;
    height: 2em;
    background: var(--vscode-activityBar-background);
    left: 0;
    right: 0;
    margin-left: 0.5em;
    margin-right: 1.25em;
    /* pointer-events: none; */
}
#position:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-left-color: var(--vscode-activityBar-background);
    border-width: 1em;
    margin-top: -1em;
}

#thumbnail {
    display: none;
    position: absolute;
    left: 3.5em;
    width: 5em;
    height: 5em;
    background: var(--vscode-menu-background);
}

#canvas_thumbnail {
    height: 100%;
    width: 100%;
    border: 1px solid var(--vscode-menu-background);
}

#histogram {
    width: 5em;
    margin-left: 0.3em;
    background: var(--vscode-menu-background);
    position: relative;
}
#histogram > div.bins {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 0.4em;
    bottom: 0.4em;
    left: 0.4em;
    right: 0.4em;
    padding: 0.2em;
}
#histogram > div.bins > div {
    background: var(--vscode-minimap-selectionHighlight);
    flex-grow: 1;
}
#histogram > div.selection {
    position: absolute;
    top: 0.4em;
    bottom: 0.4em;
    left: 0.4em;
    right: 0.4em;
}
#histogram > div.selection > div {
    background: var(--vscode-minimap-findMatchHighlight);
    opacity: 0.7;
    position: absolute;
    left: 0;
    right: 0;
}