html, body {
    margin: 1em; padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

body > * {
    margin: 0px;
}

thead {
    margin-top: 3px;
}

th, td {
    text-align: center;
    padding: 3px;
}

td {
    background: var(--vscode-menu-background);
}

th {
    background: var(--vscode-activityBar-background);
}

#canvas {
    margin-top: 1em;
    flex-grow: 1;
    display: flex;
    position: relative;
    align-items: stretch;
}

canvas {
    image-rendering: pixelated;
    position: absolute;
}

#canvas_wrapper {
    flex-grow: 1;
}

canvas#canvas_draw, canvas#canvas_histogram {
    margin-left: 3em;
    margin-right: 5em;
}

#message {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    text-shadow: 2px 2px 0 #000,
                 2px -2px 0 #000,
                 -2px 2px 0 #000,
                 -2px -2px 0 #000,
                 2px 0px 0 #000,
                 0px 2px 0 #000,
                 -2px 0px 0 #000,
                 0px -2px 0 #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tools {
    user-select: none;
    z-index: 999;
    display: flex;
    flex-direction: column;
    width: 3em;
}

#axes {
    margin-bottom: 5px;
}

#axes > div {
    text-align: center;
    padding: 7px;
    background: var(--vscode-menu-background);
}
#axes > div[data-selected] {
    background: var(--vscode-activityBar-background);
    font-weight: bold;
}

#slicer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#slice {
    color: #FFF;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    background: var(--vscode-activityBar-background);
}

#range {
    position: relative;
    flex-grow: 1;
    background: var(--vscode-menu-background);
}

#position {
    display: none;
    position: absolute;
    height: 2em;
    background: #FFF;
    left: 0;
    right: 0;
}

#thumbnail {
    display: none;
    position: absolute;
    left: 3.5em;
    width: 5em;
    height: 5em;
    background: var(--vscode-menu-background);
}

#canvas_thumbnail {
    height: 100%;
    width: 100%;
}

#histogram {
    width: 5em;
    background: var(--vscode-minimapSlider-background);
    position: relative;
}
#histogram_bins {
    position: absolute;
    top: 0.4em;
    bottom: 0.4em;
    left: 0.4em;
    right: 0.4em;
}
#histogram_bins div {
    background: var(--vscode-minimap-selectionHighlight);
    height: calc(100% / 256);
    float: right;
    clear: both;
}
#histogram_selections {
    position: absolute;
    top: 0.4em;
    bottom: 0.4em;
    left: 0.4em;
    right: 0.4em;
}
#histogram_selections div {
    background: var(--vscode-minimap-findMatchHighlight);
    opacity: 0.7;
    position: absolute;
    left: 0;
    right: 0;
}